<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.ajdt.AjdtProjectConfigurator"
            id="org.maven.ide.eclipse.ajdt.configurator"
            name="AJDT">
      </configurator>
   </extension>
   <extension
        point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
  </extension>
</plugin>
